VITE_APP_PRODUCT_NAME=

VITE_PRODUCT_IMAGE_MAX_FILES_COUNT=
VITE_PRODUCT_IMAGE_MAX_FILE_SIZE_MB=

# Backend Config
# Node server
# VITE_APP_NODE_BACKEND_URL=

# Spring server
VITE_APP_SPRING_BACKEND_URL=


